<header class="top-header" th:fragment="header">
    <div><h5 class="mb-0 text-dark">Hệ thống Quản lý Ký Túc Xá</h5></div>
    <div class="d-flex align-items-center dropdown">
        <span class="me-2 text-dark">Xin chào, <strong>Staff</strong></span>
        <img src="https://ui-avatars.com/api/?name=Staff&background=0D8ABC&color=fff" alt="User" class="rounded-circle" width="35" height="35" role="button" data-bs-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-end shadow-sm border-0 mt-2 rounded-1">
            <li><a class="dropdown-item" href="#"><i class="bi bi-person me-2"></i>Hồ sơ cá nhân</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" href="#"><i class="bi bi-box-arrow-right me-2"></i>Đăng xuất</a></li>
        </ul>
    </div>
</header>